name: Terraform (Windows)

on:
  workflow_dispatch:
# on:
#   push:
#     branches: [ "main" ]
#   pull_request:

jobs:
  terraform:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set project
        run: gcloud config set project kasm-485616

      - name: Build Disk Image
        id: build
        working-directory: terraform
        run: |
             # Terraform windows.pkr.hcl
              # chmod +x ./build_windows_cmmc_image.sh
              # ./build_windows_cmmc_image.sh ${{ github.ref_name }}

        

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan
